body{margin:auto;
font-family:'Poppins', sans-serif;
max-width: 100rem;
padding:0;
background-color: #1A0B2E;
}




/*navigation bar header section  */




.nav-containe {width: 100rem;
    height: 760px;


}



.nav-bar {

width: 100rem;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
}


/* logo structure */


.logo{
    display: flex;
}

.logo-white{color: white;
    font-size: 2rem;
    font-weight: 600;}


.logo-pinkgd {
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(to top,rgb(255, 255, 0) 0%, rgb(255, 0, 255) 45%, rgb(7, 64, 255) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}





ul, li, a{display: flex;
    gap: 32px;
    text-decoration: none;
    list-style: none;
    color:rgba(255, 255, 255, 0.822);
   
}





.primary-button{
    height: 2.75rem;
    width: 10.3135rem;
    background: linear-gradient(to right top, rgb(255, 255, 0) 0%, rgb(255, 00, 0) 45%, rgb(0, 0, 255) 100%);
    color: white;
    font-weight: bold;
    border-radius: 22px 22px;
font-size: 19px;}











/* hero-section */



.hero-section{width: 100rem;
    height: 47.5rem;
background-image: url(/hero-bg.png);
background-image: cover;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
}


.hero-text {
    width: 35.375rem;
    height: 37.375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    text-align: center;
}


.microphone-backg-color{width: 21rem;
    height: 21rem;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(to right top, rgb(255, 255, 0) 0%, rgb(255, 00, 0) 45%, rgb(0, 0, 255) 100%);
border-radius: 50%;}


.img-microphone-size{height: 90px;
    width: 90px;}
                

.hero-text-size {font-size: 3.75rem;}


.hero-button1{
    height: 2.75rem;
    width: 12.56rem;
    background: linear-gradient(to right top, rgb(255, 255, 0) 0%, rgb(255, 00, 0) 45%, rgb(0, 0, 255) 100%);
    color: rgba(255, 255, 255, 0.815);
    border-radius: 22px 22px;
font-size: 19px;
}

.hero-button2{
    height: 2.75rem;
    width: 9.1875rem;
    color: rgb(40, 196, 40);
    border-radius: 22px 22px;
font-size: 19px;
background-color: #1a0b2e11;
border: 2px solid rgb(46, 226, 46);}



 /* About the Podcast section */


.about-podcast-big-container{width: 100rem;
    height: 41.25rem;
    display: grid;
align-items: center;
    text-align: center;
    column-gap: 250px;
}




.about-podcast-tex {width: 75rem;
    height: auto;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.493);
    

}
.about-podcast-tex, p { font-size: 21px;}

p,h1,h2,h3 {color: white;}



.about-rating-container {width: 75;
    height: 7.125rem;
    display:flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.rating-text a h1 {color: rgb(39, 219, 39);

}

.small-text {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.815);
}


.horizontal-line {
    color: rgba(71, 70, 70, 0.144);
    size: 0cap;

}










